* {
    font-family: "Montserrat", sans-serif;
}

/* hero */
.hero {
    background-image: url("../img/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: #030b33;
}

.logo {
    width: 100px;
}

.contact-btn {
    background: #b88c03;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 3px;
}

.slider-holder {
    padding-top: 100px;
    padding-bottom: 150px;
}

.title {
    font-size: 50px;
    color: #b88c03;
    font-weight: bold;
}

.btn-yellow {
    background-color: #b88c03 !important;
    color: white !important;
    border-radius: 0;
    padding: 10px 25px !important;
}

.slick-dots li button:before {
    font-size: 20px;
    color: #b88c03;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #b88c03;
}

.text-golden {
    color: #b88c03;
}


/* about */
.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}


/* projects */
.projects {
    background-color: #b88c03;
    background-image: url("../img/projects-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.grid-2{
    grid-template-columns: repeat(2, 1fr);
}